// Width
$width-pc: 960px;
$width-tablet: 768px;
$width-smartphone: 480px;
$width-scrollbar: 20px;


// Font
$font: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
$font-title: 'Lora', serif;


// Background Color
$bgColor: #fff;
$bgColor-inverse: #0d0d0d;


// Color
$color: #27313D;
$color-inverse: #fff;
$color-link: #ECB935;
$color-sub: #808080;


// Font size
$fontSize: 13px;
$fontSize-sub: 11px;
$fontSize-blogTitle: 30px;


// Line height
$lineHeight: 1.7;
$lineHeight-title: 1.3;